.slide-item{
  display: grid;
  grid-template-columns: 65% 35%;
  background: black;
}

@media(max-width:800px) {
  .slide-item{
    grid-template-columns: 1fr;
  }
  .slide-info{
    margin-top: 20px;
  }
}

.slide-info{
  padding: 0 20px 40px 20px;
  color: white;
  align-self: end;
}

.slide-price{
  display: block;
  margin-bottom: 5px;
  color: rgba(255,255,255, .5);
  font-weight: 300;
}

.slide-name{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

