/* Lista de produtos */

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}


@media(max-width:800px) {
  .products-list {
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
  }
}

.products-list h2 {
  margin-top: 5px;
  font-size: 0.725rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.products-list   a {
  display: grid;
}

.product-info{
  grid-area: 1/1;
}

.product-item a:hover .product-overlay {
  opacity: 1;
}

.product-overlay{
  opacity: 0;
  grid-area: 1/1;
  background: rgba(255,255,255,.5);
  display: flex;
  padding: 20px;
  transition: opacity .3s;
}

.product-overlay .btn-link {
  margin: auto;
  width: 100%;
}

/* categorias */

.categorias-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.categorias-home a {
  display: grid;
}
.link-categoria {
  background: rgba(255,255,255,1);
  color: purple;
  font-weight: 500;
  font-size: 1.125rem;
}
.categorias-home img {
  grid-area: 1/1;
}

.categorias-home span{
  grid-area: 1/1;
  align-self: end;
  justify-self: end;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 160px;
}

.categorias-home a:nth-child(2) span {
  justify-self: start;
  margin-left: 40px;
  margin-bottom: 30px;
}

/* Breadcrumb */
.breadcrumb {
  margin: 20px auto;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: .05rem;
}

.woocommerce-breadcrumb{
  padding-bottom: 20px !important;
  border-bottom: 2px solid black ;
}

/* Arquivo */
.products-archive {
  display: grid;
  grid-template-columns: 220px 1fr;
}
@media(max-width:800px){
  .products-archive {
    grid-template-columns:  1fr;
  }
}

/* Paginação */

.pagination{
  margin-top: 40px;
}

.pagination .page-numbers {
  border-radius: 2px;
  background: black;
  color: white;
  padding: 4px 10px;
}

.pagination span.page-numbers {
  background: purple;
}

/* Filtro */

.filtro, .filtro .widget {
  margin-bottom: 40px;
}

.filtro-titulo, .filtro .widget h2 {
  font-size: 1.15rem;
  color: rgba(0,0,0,.5);
  font-weight: 400;
  max-block-size: 20px;
  margin-bottom: 10px;
}

.filtro-preco input {
  font-size: 1rem;
  width: 80px;
  border: none;
  border-radius: 4px;
  background: rgba(0,0,0,.1);
  padding: 5px;
}

.filtro-preco label {
  width: 60px;
  display: inline-block;
  margin-bottom: 10px;
}

.filtro-preco button {
  font-size: 1rem;
  width: 144px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background: rgba(0,0,0,.2);
  padding: 5px;
  cursor: pointer;
}

@media(max-width:800px) {
  .filtros {
    margin-top: 40px;
    grid-row: 2;
  }
  .filtros::before{
    content: 'To filter the result';
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

.filtro-cat .sub-menu{
  margin-bottom: 20px;
}

.filtro-cat a{
  display: block;
  margin-bottom: 5px;
}

.filtro-cat a::before{
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background: rgba(0,0,0,.5);
  margin-right: 5px;
}

.cuurent-menu-item{
  color: purple;
}

/* ordenação */
.woocommerce-ordering{
  margin-bottom: 20px;
  margin-left: auto;
  float: none !important;
}

.woocommerce-ordering select {
  font-size: 1rem;
}