.woocommerce a {
  text-decoration: underline;
}

/* Notificação */
.woocommerce-message, .woocommerce-info, .woocommerce-error{
  background: #eee;
  border: none;
  color: black;
  padding: 15px 20px;
}

.woocommerce-message:before, .woocommerce-info:before, .woocommerce-error:before {
  display: none;
}

.woocommerce-error{
  border-left: 4px solid purple;
}

.woocommerce-message, .woocommerce-info{
  border-left: 4px solid olivedrab;
}

/* Formulários */
.woocommerce .input-text{
  font-size: 1.125rem !important;
  border: 1px solid rgba(0, 0, 0, .08) !important;
  background: rgba(0, 0, 0, .08)!important;
  padding: 10px 15px !important;
  border-radius: 4px !important;
}

.woocommerce form .form-row {
  padding: 3px 0;
}

.woocommerce button.button {
  background: black !important;
  color: white !important;
  font-size: 500 !important;
  text-transform: capitalize !important;
  min-height: 43px !important;
}

.woocommerce-cart #coupon_code {
  min-width: 180px;
  margin-right: 10px;
}

.woocommerce-cart a.button.alt {
  text-transform: capitalize !important;
  font-weight: 500 !important;
  background: #6706A5;
}

.woocommerce-cart a.button.alt:hover {
  background: #894FBF;
}

.woocommerce-cart .cart-totals h2 {
  margin-bottom: 10px;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.woocommerce table.shop-table {
  border-radius: 0px;
}

/* checkout */

.woocommerce-form-coupon-toggle {
  display: none;
}

.woocommerce .checkout h3 {
  font-size: 1rem;
  padding: 15px;
  background: #111;
  color: white;
  font-weight: 400;
  border-radius: 4px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.woocommerce .checkout .col-2 h3#ship-to-different-address {
  float: none;
}

@media (max-width:800px){
  .woocommerce .checkout .col-2 h3#ship-to-different-address {
  margin-top: 30px;
  }
}

.woocommerce #order_review_heading {
  margin-top: 30px;
}

.woocommerce #payment,
.woocommerce #payment div.payment_box {
  background: rgba(0, 0, 0, .08);
  font-size: 1rem;
  color: black;
}

.woocommerce #payment #place_order {
  float: none;
  margin-top: 20px;
  font-size: 1.25rem;
  padding: 15px 30px;
  background: #6706A5 !important;
}

.woocommerce #payment #place_order:hover {
  background: #894FBF !important;
}

.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register{
  border: none;
  padding: 0;
  margin: 10px 0;
  max-width: 600px;
}

/* Pagsegure */

.woocommerce #pagseguro-payment-form {
  border: none;
}

.woocommerce #payment idv.payment_box ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .4);
}
/* minha conta */

.woocommerce-account h2 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.woocommerce-account.logged-in .woocommerce {
  display: grid;
  grid-template-columns: 200px 1fr ;
  grid-gap: 30px;
}

@media (max-widt:800px) {
.woocommerce-account.logged-in .woocommerce {
  grid-template-columns:  1fr ;
  }
}

.woocommerce-account.logged-in .woocommerce::before, .woocommerce-account.logged-in .woocommerce::after {
display: none;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation, 
  .woocommerce-account.logged-in .woocommerce-MyAccount-content {
    width: auto;
    float: none;
}

/* estilo side menu */

.woocommerce-MyAccount-navigation  ul {
  background: #111 ;
}
.woocommerce-MyAccount-navigation  a {
color: white;
text-decoration: none;
display: block;
padding: 10px;
border-bottom: 2px solid rgba(255, 255, 255, .08);
}

.woocommerce-MyAccount-navigation  a:hover{
  background: purple;
}

.woocommerce-MyAccount-navigation  .is-active a {
  background: purple;
}

.woocommerce-MyAccount-content p {
  margin-bottom: 1rem;
}

.woocommerce-MyAccount-content button{
  margin-top: 15px !important;
}

.woocommerce .woocommerce-customer-details address {
  border-width: 1px;
  border-top-right-radius: 0px;
}

/* Pedido recebido */

.woocommerce-order-received h2{
  font-size: 1.25rem;
  margin: 10px 0;
}

.woocommerce-order-received .woocommerce-thankyou-order-received{
  color: white;
  background: #6706A5;
  padding: 15px; 
  border-radius: 4px;
  margin-bottom: 30px;   
}

.woocommerce-order-received ul.order_details {
  background: #eee;
  padding: 15px;
  margin-bottom: 30px;
}

.woocommerce-order-received ul.order_details li{
  margin: 10px;
}

.woocommerce-order-received ul.order_details li strong {
  font-weight: 400;
  font-size: 1rem;
}

.woocommerce-order-received ul.order_details + p {
  margin-bottom: 30px;
}

.woocommerce-page .woocommerce-message .button{
  font-weight: normal;
  color: white;
  background: #6706A5;
}

.woocommerce-page .woocommerce-message .button:hover{
  background: #894FBF;
}

.woocommerce-orders-table__cell-order-actions a {
  margin: 5px !important;
}